:root{
    --container-width: 80rem;
    --base-font-size: 16px;
    --font-scale-ratio: 1.25;
    --spacing-scale-ratio: 2;
    --paragraph-font-size: 1.25rem;
    --spacing-siblings: 1rem;
    --spacing-friends: calc(
    (var(--spacing-siblings) * pow(var(--spacing-scale-ratio), 1))
  );
  --spacing-housemates: calc(
    (var(--spacing-siblings) * pow(var(--spacing-scale-ratio), 2))
  );
  --spacing-townmates: calc(
    (var(--spacing-siblings) * pow(var(--spacing-scale-ratio), 3))
  );
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
label,
.logo,
.amount {
  font-weight: 600;
  line-height: 125%;
  letter-spacing: calc(var(--paragraph-font-size) * 0.03);
}

h1{
  font-size: calc(var(--paragraph-font-size) * pow(var(--font-scale-ratio), 3));
}

h2 {
  font-size: calc(var(--paragraph-font-size) * pow(var(--font-scale-ratio), 2));
}

h3, .amount{
  font-size: calc(var(--paragraph-font-size) * pow(var(--font-scale-ratio), 1));
}

a,
p,
button,
li,
label {
  font-size: var(--paragraph-font-size);
  letter-spacing: calc(var(--paragraph-font-size) * 0.025);
  line-height: 135%;
}

.logo{
  font-size: calc(var(--paragraph-font-size) * pow(var(--font-scale-ratio), 3));
  text-decoration: none;
  color: inherit;
}

.amount.income{
  color: green;
}
.amount.expense{
  color: orangered;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-housemates) 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-siblings);
  background: royalblue;
  color: white;
}

.container{
    width: var(--container-width);
    display: flex;
    gap: var(--spacing-friends);
    flex-wrap: wrap;
}
.container.ac{
  align-items: center;
  justify-content: center;
}

.container.ac > .page-title{
  text-align: center;
}

.transactions{
  width: var(--container-width);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-friends);
  list-style: none;
  padding: 0;
  
}

.molecule{
    display: flex;
    gap: var(--spacing-siblings);
}

.molecule.vertical{
    flex-direction: column;
}

.page-title, .section-heading{
    width: var(--container-width);
    flex-shrink: 0;
}

.card{
    width: calc((var(--container-width) - 2 * var(--spacing-friends))/3);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: var(--spacing-siblings);
    padding: var(--spacing-friends);
    gap: var(--spacing-friends);
}

.card.f{
  width: 100%;
}

form{
    width: 50%;
    border: 1px solid black;
    border-radius: var(--spacing-siblings);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-friends);
    padding: var(--spacing-friends)
}

input, select{
    padding: calc(var(--paragraph-font-size) * 0.8) ;
  font-size: calc(var(--paragraph-font-size) * 0.8);
  line-height: 135%;
  border: 1px solid gray;
  border-radius: calc(var(--spacing-siblings)/2);
}

.btn{
  text-align: center;
  font-weight: 600;
  color: white;
  text-decoration: none;
  background: royalblue;
  border: 0px;
  border-radius: calc(var(--spacing-siblings) / 2);
  padding: var(--spacing-siblings) calc(var(--spacing-siblings) * 3);
}

.btn.secondary{
    background: none;
    color: royalblue;
    border: 1px solid royalblue;
}